{% extends "base.html" %}


{% block title %}
CatFacts!
{% endblock %}




{% block content %}
<div class="container-narrow">




<div class="page-header">
  <h1><a href="/">CatFacts!</a> <small>The coolest way to learn about cats.</small></h1>
</div>



    
    <div class="hero-unit">






        <form class="form-register" action="" method="post">
            {% csrf_token %}
            <h5 class="form-register-heading">Sign up to receive CatFacts via SMS.</h5>


            {{ form.number }}

            {% if form.number.errors %}
                    
                {% for error in form.number.errors %} <div class="alert alert-error"><h6>{{ error }}</h6></div>{% endfor %}
            
            {% endif %}
            <button class='btn btn-primary btn-block btn-success' type="submit" value="Submit">Sign me up for CatFacts!</button>



        </form>


    </div> 
    <p class="muted pull-right"><small><a href="http://dylanpatrickclark.com">dylanpatrickclark.com</a></small></p>
</div><!-- container -->

{% endblock %}




